@font-face {
    font-family: 'Airbnb Cereal App Book';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AirbnbCerealBook.woff') format('woff');
}

@font-face {
    font-family: 'Airbnb Cereal App Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AirbnbCerealBold.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,body{
    font-family:'Airbnb Cereal App Book';
    
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


b{
    font-family:'Airbnb Cereal App Bold';
}
html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: #333;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: #666;
}

button,input{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filtro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    background-color: #ff000000;
    cursor:pointer;
    margin: 22px auto 5px;
}

.bckfrw{
    border: .5px solid #3333; 
}

.atual{
    background: #333;
    color: white;
    align-self: center;
    justify-content: center;
}

.atual svg{
    align-self: center;
    
}

.buttons{
    margin-bottom: 15px;
}


.footer{
    width: 100%;
    margin:12px auto;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    border-top-width: 1.5px;
    border-top-style:solid;
    border-top-color: rgba(121, 119, 119, 0.26);
}


.footer a{
    text-decoration: none;
}

.load_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.loading{
    animation: loaded 1.2s infinite;
    margin-top: 15px;
    border: 6px solid grey;
    border-top-color: lightseagreen;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.reload {
    margin-top: 0;
    align-items:initial;
    justify-content: initial;
}

.hidden{
    visibility: hidden;
}

@keyframes loaded {
    to{
        transform: rotate(1turn);
    }
}